server {
	root /usr/share/nginx/www;
	index index.html index.htm;

  listen *:80;
	server_name ciber-testbed ciber-testbed.umd.edu;

  location / {
    proxy_pass http://localhost:8080;
  }

  location /ciber/ {
     proxy_set_header Host $host;
     proxy_set_header X-Real-IP $remote_addr;
     proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_pass http://ciber.umd.edu:80/;
     proxy_set_header Authorization "Basic {{ ciber_basic_auth_plaintext | b64encode }}";
  }

}
