dapUrl={{ dap_url }}
dapUsername={{ dap_username }}
dapPassword={{ dap_password }}

dtsUrl={{ dts_url }}
dtsUsername={{ dts_username }}
dtsPassword={{ dts_password }}
dtsCommKey={{ dts_comm_key }}

# Proxy for CDMI archives (authenticated for read only)
cdmiProxyUrl={{ cdmi_proxy_url }}

# Test collection for DTS extraction
dtsTestPath1={{ dts_test_path1 }}