[testbed]
ciber-testbed.example.edu

[testbed:vars]
data_folder=/opt/testbed
bdusername=mybrowndog
bdpassword=bdpass
dtsusername=user@example.com
dtspassword=userpw
ciber_basic_auth_plaintext=testbed4U:mypassword
