[Unit]
Description=Github Webhooks Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory={{ install_folder }}
ExecStart={{ install_folder }}/venv/bin/python webhooks.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
